{% extends 'base.html' %}
{% load static %}
{% block title %}Mi CV{% endblock %}

{% block content %}

<div class="container">
    <h1>{{ cv.first_name }} {{ cv.last_name }}</h1>

    <div id="spotify-player">
        <h1>Spotify Player</h1>
        <div class="player-controls">
            <button id="prevTrack">Previous</button>
            <button id="togglePlay">Play/Pause</button>
            <button id="nextTrack">Next</button>
        </div>
        <div id="currentTrack">
            <h2>Now Playing: <span id="trackName">N/A</span></h2>
        </div>
    </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="{% static 'js/spoti_js.js' %}"></script>
   
    </div>
    
    <div class="info-section">
        <p class="info-item"><strong>Email:</strong> <a href="mailto:{{ cv.email }}">{{ cv.email }}</a></p>
        <p class="info-item"><strong>Celular:</strong> {{ cv.phone_number }}</p>
        <p class="info-item"><strong>LinkedIn:</strong> <a href="{{ cv.linkedin_profile }}">{{ cv.linkedin_profile }}</a></p>
        <p class="info-item"><strong>GitHub:</strong> <a href="{{ cv.github_profile }}">{{ cv.github_profile }}</a></p>
    </div>

    <div class="summary">
        <h2>Resumen</h2>
        <p>{{ cv.summary }}</p>
    </div>
    
    <h2>Certificates</h2>
    <div class="certification-carousel" id="carousel">
        {% for certification in certifications %}
            {% if certification.certificate_image %}
                <img id="certificate-image-{{ forloop.counter }}" src="{{ certification.certificate_image.url }}" alt="{{ certification.certificate_name }}" />
            {% endif %}
        {% endfor %}
    </div>
    
    <ul>
        {% for certification in certifications %}
            <li>
                {{ certification.certificate_name }} - {{ certification.institution_name }}
            </li>
        {% endfor %}
    </ul>
    
    <script>
        const carousel = document.getElementById('carousel');
        let index = 0;
        
        const images = carousel.getElementsByTagName('img');
        const imageWidth = images[0]?.clientWidth || 200;
        
        setInterval(() => {
            index = (index + 1) % images.length;
            carousel.scroll({
                left: index * (imageWidth + 10),
                behavior: 'smooth' // Hace que la transición sea suave
            });
        }, 3000);
        

    </script>

    <h2>Skills</h2>
    <p class = "p1"> <strong>Soft Skills:</strong> {{ skills.soft_skills }}</p>
    <p class = "p1"> <strong>Technical skills:</strong> {{ skills.technical_skills }}</p>

    <h2>Education</h2>
    <ul>
        {% for edu in education %}
        <li>{{ edu.degree }} in {{ edu.institution }} ({{ edu.start_date }} - {{ edu.end_date }})</li>
        <li> {{edu.description}} <li>
        {% endfor %}
    </ul>

    <h2>Work Experience</h2>
    <ul>
        {% for work in work_experience %}
        <li> {{ work.job_title }} en {{ work.company }} ({{ work.start_date }} - {{ work.end_date }})</li>
        <li> {{work.responsibilities}} <li>
        {% endfor %}
    </ul>

    <h2>Projects</h2>
    <ul>
        {% for project in projects %}
        <li>{{ project.name }}: {{ project.description }}</li>
        <li> {{ project.description}} </li>
        {% endfor %}
    </ul>
{% endblock %}
