{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>{% block title %}Santiago Amaya C.{% endblock %}</title>


</head>
<body class="bg-gray-100">
    <header class="header"
        <h1 class="name-box">Santiago Amaya Cetina</h1>
        <div class="social-buttons">
            <a href="https://www.linkedin.com" target="_blank" class="social-button">LinkedIn</a>
            <a href="https://github.com" target="_blank" class="social-button">GitHub</a>
        </div>
        <div class="hamburger-menu" onclick="toggleMenu()">
            &#9776; <!-- Hamburger icon -->
            <div id="menu" class="hidden">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#contact">Contact Information for Interview</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main class="container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-blue-500 text-white text-center py-4">
        <p>&copy; Santiago Amaya all rights reserved.</p>
    </footer>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            menu.classList.toggle('hidden'); // Toggle visibility
        }
    </script>
</body>
</html>
