{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <title>{% block title %}Mi CV{% endblock %}</title>
</head>
<body class="bg-gray-100">
    <header class="bg-blue-500 p-4 text-white">
        <nav class="container mx-auto">
            <h1 class="text-lg font-bold">Mi CV</h1>
            <ul class="flex space-x-4">
                <li><a href="{% url 'home' %}" class="hover:underline">Inicio</a></li>
                <li><a href="{% url 'add' %}" class="hover:underline">Formulario CV</a></li>
                <li><a href="#" class="hover:underline">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="container mx-auto p-6">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-blue-500 text-white text-center py-4">
        <p>&copy; 2024 Mi CV. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
